.filmListItemContainer {
  .title {
    line-height: 1.2rem;
    font-size: 1.2rem;
  }
  img {
    object-fit: cover;
  }

  .overview {
    height: 7.5rem;
    overflow: auto;
  }
  a {
    text-decoration: none;
  }
}
